* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  color: white;
  background-color: hsl(218, 28%, 13%);
}

li {
  list-style: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.navigation img {
  height: 5vh;
}

.navigation ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.navigation li a {
  text-decoration: none;
  color: white;
}

.content {
  font-family: "Open Sans";
  font-size: 14px;
}

button:hover {
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(206, 195, 195, 0.19);
}

.intro-bg {
  background: url(images/illustration-intro.png) no-repeat;
  background-color: hsl(217, 28%, 15%);
  background-size: contain;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.top-item {
  text-align: center;
}

.top-item h2 {
  width: 100%;
  padding: 20px 20px 0px 20px;
  text-align: center;
  line-height: 2em;
}

.top-item p {
  line-height: 1.8em;
  padding: 20px;
}

#btn1 {
  border: 0;
  border-radius: 30px;
  padding: 20px 100px;
  background-color: hsl(198, 60%, 50%);
  color: white;
  font-size: 1.1rem;
  margin: 20px;
}

.grid-container-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "grid-item-1"
    "grid-item-2"
    "grid-item-3"
    "grid-item-4";
  text-align: center;
  margin: 20px;
}

.pic1 {
  background: url(images/icon-access-anywhere.svg) no-repeat;
  background-position: center;
  height: 20vh;
}

.grid-item-1 {
  grid-area: grid-item-1;
  margin: 10px 20px;
  line-height: 2.5em;
}

.pic2 {
  background: url(images/icon-security.svg) no-repeat;
  background-position: center;
  height: 20vh;
}

.grid-item-2 {
  grid-area: grid-item-2;
  margin: 10px 20px;
  line-height: 2.5em;
}

.pic3 {
  background: url(images/icon-collaboration.svg) no-repeat;
  background-position: center;
  height: 20vh;
}

.grid-item-3 {
  grid-area: grid-item-3;
  margin: 10px 20px;
  line-height: 2.5em;
}

.pic4 {
  background: url(images/icon-any-file.svg) no-repeat;
  background-position: center;
  height: 20vh;
}

.grid-item-4 {
  grid-area: grid-item-4;
  margin: 10px 20px;
  line-height: 2.5em;
}

.flex-container-1 {
  display: flex;
  flex-direction: column;
}

.flex-item-1 {
  background: url(images/illustration-stay-productive.png) no-repeat;
  background-position: cover;
  background-size: contain;
  background-position: center;
  height: 80vh;
  width: 100%;
}

.flex-item-2 {
  padding: 0px 75px;
  line-height: 2em;
}

.flex-item-2 h2 {
  text-align: center;
}

.flex-item-2 p {
  margin-top: 20px;
}

.flex-item-2 li {
  margin-top: 20px;
}

.flex-item-2 li a {
  color: hsl(176, 68%, 64%);
  text-decoration: none;
}

.flex-item-2 li a:hover {
  cursor: pointer;
  border-bottom: 1px solid hsl(176, 68%, 64%);
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 20px 0px;
}

.grid-item-5,
.grid-item-6,
.grid-item-7 {
  border: 0;
  border-radius: 5px;
  background-color: hsl(219, 30%, 18%);
  margin: 20px 40px;
  padding: 0px 20px;
}

.profile1 {
  display: flex;
}

.profile1 img {
  margin-right: 20px;
  margin-top: 30px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.profile2 {
  display: flex;
}

.profile2 img {
  margin-right: 20px;
  margin-top: 30px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.profile3 {
  display: flex;
}

.profile3 img {
  margin-right: 20px;
  margin-top: 30px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.grid-item-5 p,
.grid-item-6 p,
.grid-item-7 p {
  line-height: 2.5em;
}

.grid-item-5 li,
.grid-item-6 li,
.grid-item-7 li {
  line-height: 1.5em;
}

.register {
  border: 0;
  border-radius: 5px;
  background-color: hsl(219, 30%, 18%);
  margin: 80px 40px;
  text-align: center;
  line-height: 2em;
}

.register h2,
p {
  padding: 20px 0px;
}

#form {
  border-radius: 50px;
  padding: 20px 80px;
  margin-bottom: 20px;
}

#btn2 {
  border: 0;
  border-radius: 50px;
  padding: 20px 90px;
  margin-bottom: 20px;
  background-color: hsl(176, 68%, 64%);
  color: white;
  font-size: 1rem;
}

.bottom {
  background-color: hsl(217, 28%, 15%);
}

.logo {
  padding: 20px 50px;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr;
  line-height: 2.5em;
  justify-content: center;
  align-items: stretch;
  /* padding: 0px 90px; */
}

.grid-item-8 {
  display: flex;
}

.grid-item-8 img {
  height: 3vh;
  margin-top: 30px;
  margin-right: 20px;
}

.grid-item-9 {
  display: flex;
}

.grid-item-9 img {
  height: 3vh;
  margin-top: 10px;
  margin-right: 20px;
}

.fimg {
  display: flex;
  flex-direction: column;
}

#email {
  margin-top: 20px;
}

.grid-item-10 {
  margin-top: 50px;
  font-family: "Raleway";
}

#contact {
  margin-top: 25px;
}

.grid-item-11 {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item-11 a {
  text-decoration: none;
  color: white;
}

#fb,
#twitter,
#ig {
  border: 1px solid white;
  border-radius: 50%;
  margin: 10px;
  padding: 20px;
}

@media screen and (min-width: 1000px) {
  .navigation {
    padding: 30px 50px;
  }

  .navigation ul {
    width: 25%;
  }

  .grid-container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(1fr, auto);
    grid-template-areas:
      "grid-item-1 grid-item-2"
      "grid-item-3 grid-item-4";
    justify-content: center;
    align-items: stretch;
    margin: 20px 100px;
  }

  .flex-container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 50px;
    justify-content: center;
    align-items: stretch;
  }

  .flex-item-2 {
    margin: 35px 50px;
    padding-top: 20px;
  }

  .flex-item-2 p {
    margin-top: 10px;
    padding: 5px;
  }

  .flex-item-2 li {
    margin-top: 50px;
  }

  .grid-container-2 {
    display: flex;
    justify-content: space-around;
  }

  .register {
    margin: 75px auto;
    width: 75%;
    align-items: center;
  }

  .register-form {
    display: flex;
    justify-content: space-evenly;
  }

  #form {
    padding: 20px 150px;
  }

  .grid-container-3 {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .grid-item-8 {
    margin: 0;
    padding: 0;
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 100px;
    /* padding-right: 75px; */
  }
  .grid-item-9 {
    margin: 0;
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
  }

  .grid-item-10 {
    margin: 0;
    flex: 0 0 25%;
    max-width: 25%;
    padding-top: 20px;
  }

  #contact {
    margin: 0;
  }

  #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-item-11 {
    flex: 0 0 25%;
    max-width: 25%;
    margin: 0;
    display: block;
    padding-top: 20px;
  }
}
